.my-orders {
    margin: 20px;
    padding: 20px;
    // font-family: Arial, sans-serif;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
  
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px;
    }
  
    .my-orders-order {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      text-align: center;
  
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;

      }
  
      p {
        margin: 5px 0;
        color: #555;
      }
  
      p b {
        color: #000;
      }
  
      .status {
        margin-top: 10px;
        font-size: 14px;
        color: #28a745; // Green for completed orders
        font-weight: bold;
      }
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 15px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .spinner {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite;
      margin: 0 auto;
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    // For empty state message
    .empty-state {
      color: #999;
      text-align: center;
      font-size: 18px;
      margin-top: 30px;
    }
  }
  